
*{
    padding:0px;
   /* background-color: black; */
   margin :0px;
   box-sizing: border-box;
   
}


 .container{
    border: 2px solid black;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-wrap: wrap;

 }

 .product{
    height:300px;
    width:22%;
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-direction: column;
    /* border: 1px solid black; */
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
    box-shadow:3px 3px 5px rgba(23, 3, 3, 0.735) ;
    border: none;
 }

 .product .img{
    height: 70%;
    width: 90%;

 }

 .product .img img{
    height:100%;
    width: 100%;
    
 }
.product h1{
    font-size:1rem!important;
}